/* Import Fonts */
/* Default */
@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700|Noto+Sans+TC:400,700&display=swap');

/* Set 1 - Open source replacement of Times New Roman and MingLiu */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@400;700&family=Noto+Serif:wght@400;700&display=swap');

/* Set 2 - Ubuntu Terminal default font */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap');

body {
    font-family: 'Inconsolata', monospace, 'Noto Sans TC', sans-serif;
    background-color: black!important;
    color: white!important;
    /* overflow-x: hidden; */
    /* font-size: 18px; */
    /* margin: 8px 16px 16px 16px; */
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

/* Font Classses */

.font-set1{
    font-family: 'Noto Serif', serif, 'Noto Serif TC', serif;
}

.font-set2{
    font-family: 'Ubuntu Mono', monospace, 'Noto Serif TC', serif;
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 10px;
}

/* ::-webkit-scrollbar-track { */
    /* background: #f1f1f1;  */
/* } */

::-webkit-scrollbar-thumb {
    background: #888; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

/* https://stackoverflow.com/a/52361343 */

/* ::-webkit-scrollbar-button:single-button {
    background-color: #888;
    display: block;
    /* border-style: solid; */
    /* height: 20px;
    width: 15px;
} */

/* Logo */

pre{
    color: white!important;
}

pre#logo{
    overflow: hidden;
}

/* Navbar */

#navbar{
    padding-bottom: 1rem;
}

/* Buttons */

.btn{
    background-color: black;
    color: white;
    border-color: transparent;
    /* border: 0; */
    border-radius: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    transition: none;
}

/* .btn:focus{
    outline: none;
}

.btn:focus-visible{
    outline: 3px solid white;
} */

.btn-nav:hover{
    background-color: white;
    color: black;
    border-color: transparent;
}

.btn-nav:active{
    background-color: white;
    color: black;
    border-color: transparent;
}

.btn-nav.active{
    background-color: white;
    color: black;
    border-color: transparent;
}



/* Links */

a{
    background-color: black;
    color: white;
    border-color: transparent;
    /* border: 0; */
    border-radius: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    margin-top: 0;
    margin-bottom: 0;
    transition: none;
    text-decoration: none;
}

a:hover{
    background-color: white;
    color: black;
    border-color: transparent;
    text-decoration: none;

}

a.active{
    background-color: white;
    color: black;
    border-color: transparent;
}


/* List (Unordered) */

ul {
    color: white;
    list-style: none;
    margin-left: 0;
    padding-left: 1em;
    text-indent: -1em;
}

li {
    /* padding-left: 1em; */
    text-indent: -1em;
}

li:before {
    content: "*";
    padding-right: 5px;
}

/* List (Blog list No-bullet) */

li.no-bullet:before {
    content: none;
    /* padding-right: 5px; */
}

/* Subtitle (h1 - h6) */

h1, h2, h3, h4, h5, h6{
    font-size: 1rem;
    font-weight: bold;
}

/* Text (p) */

p {
    margin-top: 0;
    margin-bottom: 0;
}

#sitecontent > #postarticle p {
    margin-bottom: 1rem;
}

#sitecontent > p {
    margin-bottom: 1rem;
}

/* Image in sitecontent class */

#sitecontent img{
    width: 256px;
}

/* Command input */

#command{
    display: flex;
}

#command input#input{
    border: none; 
    width: 100%;
    background-color: transparent;
    color: white;
}

#command input:focus {
    outline:none;
    /* caret-color: transparent; */
}

/* Table (e.g. help table) */

table.help, table.fontlist{
    width: 100%;
}

table.help tr, table.fontlist tr{
    vertical-align: top;
}

table.help.help-command{
    width: 25%;
}

table.help.help-content{
    width: 75%;
}

table.fontlist .fontlist-index{
    width: 10%;
}

table.fontlist .fontlist-lang, table.fontlist .fontlist-lang-en, table.fontlist .fontlist-lang-zhtw{
    width: 30%;
}

table.fontlist .fontlist-lang-license{
    width: 1;
}

table.fontlist .fontlist-content{
    width: 45%;
}