/* Console Website CSS
Made by Martin C. */

@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700|Noto+Sans+TC:400,700&display=swap');

/* html {
} */

* {
    padding: 0;
    margin: 0;
    border-spacing: 0;
}

body {
    font-family: 'Inconsolata', monospace, 'Noto Sans TC', sans-serif;
    background-color: black;
    color: white;
    overflow-x: hidden;
    font-size: 18px;
    margin: 8px 16px 16px 16px;
}

::-webkit-scrollbar {
    width: 18px;
}

::-webkit-scrollbar-track {
    background: transparent; 
}

::-webkit-scrollbar-thumb {
    background: grey; 
}

h1,h2,h3,h4,h5,h6,p,a{
    margin: 0 8px 0 0;
    font-size: 18px;
}

a{
    text-decoration: none;
}

a:link{
    /* color: lightblue; */
    color: white;
}

a:visited{
    color: white;
}

a:hover{
    color: black;
    background-color: white;
}

p.asciiText{
    white-space: pre;
}

a.current{
    color: black;
    background-color: white;
}

#subMenu{
    display: none;
}

.clear{
    clear: both;
    float: left;
}

/* Buttons */

input,select,textarea,button {
    outline: none;
    border-color: transparent;
    background-color: transparent;
    color: white;
    border: 0;
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-family: 'Inconsolata', monospace, 'Noto Sans TC', sans-serif;
}

input[type="submit"]:enabled, input[type="button"]:enabled, button:enabled{
    cursor: pointer;
}

input[type="submit"]:hover:enabled, input[type="button"]:hover:enabled, button:hover:enabled{
    background-color: white;
    color: black;
}

input[type="submit"]:disabled, input[type="button"]:disabled, button:disabled{
    color: grey;
}


button:checked{
    background-color: black;
}

/* Buttons Ended */

/* Hightlight text */

::-moz-selection {
    color: white;
    background: lightgrey;
}
    
::selection {
    color: white;
    background: lightgrey;
}

/* Hightlight text Ended */

/* Quotes */

quotes{
    margin:0;
}

quotes footer:before{
    content: "- ";
}

quotes footer{
    color: grey;
}

/* Quotes Ended */

/* Player Container (With Video) */

#vplayerContainer
{
 /* position:relative; */
 width:400px;
 /* margin-left:300px; */
}
#videoPlayer
{
 width:400px;
}
#vplayerControls
{
 /* top:98%; */
 /* bottom: 0; */
 position:absolute;
 background-color:black;
 width:100%;
 /* padding:5px; */
 box-sizing:border-box;
}

/* Player Container (With Video) Ended */

/* Player Container (With Audio) */

#aplayerContainer
{
 /* position:relative; */
 width:400px;
 /* margin-left:300px; */
}
#audioPlayer
{
 width:400px;
}
#aplayerControls
{
 /* top:98%; */
 /* bottom: 0; */
 position:absolute;
 background-color:black;
 width:100%;
 /* padding:5px; */
 box-sizing:border-box;
}

/* Player Container (With Audio) Ended */

/* Table */

table{
    border-spacing: 0px; 
    border-color: white; 
    width:100%; 
    text-align: left;
}

/* Table Ended */

/* Modal (Popup boxes) */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    /* background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    width: 80%;  */

    position: relative;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 0;
    width: 80%;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.close, .closeBtn, .alertClose, .modalClose {
    color: white;
    float: right;
    font-size: 18px;
    font-weight: bold;
    padding: 0 5px 0 5px;
}

.close:hover, .close:focus, .closeBtn:hover, .closeBtn:focus, .alertClose:hover, .alertClose:focus, .modalClose:hover, .modalClose:focus{
    color: black;
    background-color: white;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 8px 8px 0 8px;
    background-color: black;
    color: white;
}

.modal-body {
    padding: 0 8px 0 8px;
}

.modal-footer {
    padding: 0 8px 8px 8px;
    background-color: black;
    height: 18px;
    color: white;
}

.modal-footer h3{
    float:left;
}

/* Modal (Popup boxes) Ended */

/* Progress Bar */

#totalProgress {

    width: 100%;
    background-color: white;
  }
  
  #progressBar {
    width: 1%;
    height: 18px;
    background-color: grey;
  }

/* Progress Bar Ended */

/* Image */

img, image{
    width: 25%
}

/* Image Ended */

@keyframes blink {
    50% {
      opacity: 0.0;
    }
}

@-webkit-keyframes blink {
    50% {
      opacity: 0.0;
    }
}

.blink {
    animation: blink 1s step-start 0s infinite;
    -webkit-animation: blink 1s step-start 0s infinite;
}

@media only screen and (max-device-width: 640px){
    div.consoletext{
        display: none;
    }
    body{
        width: 90vw;
        height: 100vh;
    }
    img, image{
        width: 100%
    }
}

/* Under Construction Zone */

/* Under Construction Zone Ended */