/* Text Color */

.color-grey{
    color: grey;
}

.color-gray{
    /* Usually used in the United States and other regions */
    color: grey;
}

.color-red{
    color: red;
}

.color-green{
    color: green;
}

.color-yellow{
    color: yellow;
}

.color-blue{
    color: blue;
}

.color-purple{
    color: purple;
}

.color-cyan{
    color: cyan;
}

.color-white{
    color: white;
}

/* Text Color */